.pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.pagination li {
    padding: 10px 15px;
    border: 1px solid #d4d4d4;
    color: #fff;
}

.pagination li button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 1rem;
    cursor: pointer;
    padding: 0px 10px;
    border-radius: 7px;
}

.pagination li button:hover {
    background-color: #333;
    color: #fff;
}

.active {
    background-color: rgb(190, 189, 189);
    color: #fff;
  
}

.pagination li a {
    text-decoration: none;
    color: #333;
}

.pagination li.dots {
    color: #333;
    cursor: pointer
}

.loadBtns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5%;
}

.loadmore {
    padding: 7px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.loadmore:hover {
    background-color: transparent;
    color: #333;
    font-weight: bold;
    transform: translateX(10px);
    transition: all 0.5s ease-in-out;
}

.loadless {
    padding: 7px;
    font-size: 1rem;
    background-color: transparent;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.loadless:hover {
    background-color: #333;
    color: #fff;
    transform: translateX(-10px);
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 550px) {
    .pagination li {
        padding: 5px 10px;
        font-size: 1rem;
    }

    .pagination li button {
        font-size: 1rem;
        padding: 1px 5px;
        border-radius: 7px;
    }
    .nav {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }
    .loadless:hover, .loadmore:hover {
        transform: none;
        transition: all 0.5s ease-in-out;
    }
    .loadless {
        margin-left: 5px;
    }
    .loadless, .loadmore {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .pagination li {
        padding: 1px 5px;
        font-size: 0.9rem;
    }

    .pagination li button {
        font-size: 0.9rem;
        padding: 0px 6px;
        border-radius: 7px;
    }
}

@media screen and (max-width: 300px) {
    .pagination li {
        padding: 1px 5px;
        font-size: 0.7rem;
    }

    .pagination li button {
        font-size: 0.7rem;
        padding: 0px 4px;
        border-radius: 7px;
    }
    
}

